%p#notice= notice
%h1 Users
%table{id:"myTable" ,class:'table table-striped table-sm'}
  %thead
    %tr
      %th Name
      %th Email
      %th showbutton
      %th editbutton
      %th destroybutton
      -#%th{:colspan => "3"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New User', new_user_path

:javascript
  console.log("hello world")
  $(document).ready(function(){
    $('#myTable').DataTable();
  });
