%h1 Listing posts

%table{id:"posttable",class:'table table-striped table-sm'}
  %thead
    %tr
      %th Msg
      %th User
      %th showbutton
      %th editbutton
      %th destroybutton

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.msg
        %td= post.user_id
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Post', new_post_path

:javascript
  $(document).ready(function(){
    $('#posttable').DataTable();
  });
