
/ Button trigger modal
%button.btn.btn-light{"data-bs-target" => "#exampleModal#{post_id}", "data-bs-toggle" => "modal", :type => "button"}
  #{count}
/ Modal
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :tabindex => "-1" ,id:"exampleModal#{post_id}"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Like's name
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
      .modal-body
        -users_name.each do |user_name|
          %p= link_to "#{user_name}" , profile_sys_path(user_name)
      .modal-footer

:javascript
  
  $(".buttonshowlikename").click(function(){
    -#console.log($(this).attr("data"))
    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {})
    myModal.show()
  })

        